<header id="masthead" class="site-header" role="banner">
  <hgroup>
	  <h1 class="site-title"><a href="/" title="BillSaysThis" rel="home">BillSaysThis</a></h1>
		h2 class="site-description">Death is ugly, Life is sexy!</h2>
	</hgroup>

  <nav id="site-navigation" class="main-navigation" role="navigation">
	  <button class="menu-toggle">Menu</button>
		<a class="assistive-text" href="#content" title="Skip to content">Skip to content</a>
		<div class="menu-nav-header-container">
      <ul id="menu-nav-header" class="nav-menu">
        <li id="menu-item-6123" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6123"><a href="/about-2/">About Bill</a></li>
        <li id="menu-item-6133" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6133"><a href="http://www.linkedin.com/in/billlazar">LinkedIn</a></li>
        <li id="menu-item-7063" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7063"><a href="http://twitter.com/billsaysthis">Twitter</a></li>
        <li id="menu-item-6124" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-6124"><a href="/category/liverpool-fc/">Liverpool FC</a></li>
        <li id="menu-item-6125" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-6125"><a href="/category/software-development/">Software Development</a></li>
        <li id="menu-item-7062" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7062"><a href="http://www.britespring.com/">BriteSpring Consulting</a></li>
      </ul>
    </div>
  </nav><!-- #site-navigation -->
</header>